{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    ["es2015", {
      "modules": false
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread"]
  ],
  "env": {
    "test": {
      "presets": ["es2015"]
    }
  }
}
