# Build Artifacts
bin

# Dependencies
node_modules

# IDE
.tmp/
.DS_Store
.idea/
*.sublime-*
.tern-project

# Generated / Data files
*.meta
*.log
*.datavore


# Misc
data/

# Optional REPL history
.node_repl_history
