doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Demo Page
	body(data-ng-app="life-events")
		h1.content-loading Loading...

		event-form

		script(
			src="app.bundle.js",
			async="true",
			defer="true"
		)
