// This file is loaded with the page
// Use it to put base styles and resets in

@import "variables";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-family: 'Open Sans', sans-serif;
  color: $color;
	font-size: $font-size;
}

