doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Demo Page
		style.
			.content-loading { display: block; }
			.content-loaded { display: none; }
	body
		h1.content-loading Loading...
		h1.content-loaded LOADED.
		script(
			src="main.bundle.js",
			async="true",
			defer="true"
		)
